{
  "presets": [
    [
      "env",
      {
        "targets": {
          node: "6"
        }
        // specify targets here
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-class-properties"
  ]
}
